{% extends 'base.html.twig' %}

{% block title %}
    Erreur 403 ! | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Vous ne disposez pas des autorisations requises !</h2>

    <p>
        <a href="{{ path('main_home') }}" title="Revenir à l'accueil">Cliquez ici pour revenir à l'accueil!</a>
    </p>
{% endblock %}